.layer-list {
  flex: 1;
  background: #eee;
  user-select: none;
}

.layer-list .layer-item {
  display: flex;
  align-items: center;
  padding-left: 1em;
}

.layer-list li {
  list-style-type: none;
}

.layer-list ul {
  margin: 0;
  padding-left: 16px;
}

.layer-list .layer-item .eye {
  opacity: 0;
}

.layer-list .layer-item:hover .eye {
  opacity: 0.5;
}

.layer-item {
  display: flex;
}

.layer-item .name {
  flex: 1;
  padding-left: 2px;
}

.layer-item .element {
  font-size: 80%;
  padding: 2px 4px;
  background-color: white;
  color: black;
  min-width: 2em;
  text-align: center;
  border-radius: 999px;
}

.layer-item .eye:hover {
  opacity: 1;
}
